@import "compass";

/********************************************************
			Right to Left Styles
********************************************************/
* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}
.mr-4 {
	.lang-rtl & {
	    margin-left: 1.5rem !important;
	    margin-right: inherit !important;
	}
}
.mr-2 {
	.lang-rtl & {
	    margin-left: 0.5rem !important;
	    margin-right: inherit !important;
	}
}
.ml-auto {
	.lang-rtl & {
	    margin-right: auto !important;
	    margin-left: 0 !important;
	}
}
.mr-auto {
	.lang-rtl & {
	    margin-left: auto !important;
	    margin-right: 0 !important;
	}
}
.offset-lg-4 {
    margin-right: 33.333333%;
    margin-left: inherit;
}
.nov-policy.type-one img {
	margin-right: 25px !important;
}
.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group {
    margin-right: -1px;
    margin-left: inherit;
}
.text-lg-left {
    text-align: right !important;
}
.text-md-left {
    text-align: right !important;
}
.text-lg-right {
	text-align: left !important;
}
.text-md-right {
	text-align: left !important;
}
.offset-lg-3 {
    margin-right: 25%;
    margin-left: auto;
}
.list-inline {
	padding-right: 0;
	padding-left: inherit;
}
#block_advancedsearch {
    padding-left: 15px;
    padding-right: 0;
}
.account-list {
	left: 0;
	right: inherit;
}
.step-buy .step {
	background-position: right;
}
.page-home.pagehome-one .grouptab .title_block {
    border-radius: 0 5px 0 0;
}
@media (min-width: 992px) {
	.verticalmenu .menu > li > .dropdown-menu {
		left: inherit;
		right: 100%;
	}
	.verticalmenu .menu > li > .dropdown-menu > ul > li > .dropdown-menu {
		right: 100%;
		left: inherit;
	}
}
