
.owl-theme {
	// Styling Next and Prev buttons
	position: relative;
	.owl-nav {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		@include opacity(1);
		@include transition(opacity 0.5s ease 0.2s);
		[class*='owl-'] {
			color: #fff;
			font-size: 1.4rem;
			background: #b4cbd6;
			display: inline-block;
			cursor: pointer;
			@include border-radius(3px);
			position: absolute;
			top: -56px;
			@include square(30px);
			line-height: 30px;
			text-align: center;
			&:hover {
				background: $theme-color-default;
				color:#fff;
				text-decoration: none;
			}
			&.disabled {
				cursor: not-allowed;
				&:hover {
					background: #b4cbd6;
				}
			}
		}
		.owl-prev {
			right: 35px;
		}
		.owl-next {
			right: 0;
		}

	}

	&:hover {
		.owl-nav {
			@include opacity(1);
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 0;
	}
	.owl-dots {
	  top: 0;
	  display: inline-block;
	  position: absolute;
	  z-index: 99;
	  @include rtl-left(0);
	  @include rtl-text-align-right();
	  margin: 0;
	  .owl-dot {
		display: inline-block;
		zoom: 1;
		*display: inline;
		span {
			background-color: transparent;
			cursor: pointer;
			display: inline-block;
			height: 16px;
			width: 16px;
			margin: 2px;
			padding: 0;
			position: relative;
			text-indent: -9999px;
			border-radius: 50%;
			&:before {
				@include transition(all 0.3s ease-in 0.1s);
				content: "";
				position: absolute;
				height: 12px;
				width: 12px;
				border-radius: 50%;
				background: #8f8f8d;
				left: 50%;
				top: 50%;
				@include translate(-50%, -50%);
			}
		}
	    &:hover, &.active {
	    	span {
				&:before {
					background: $theme-color-default;
					height: 12px;
					width: 12px;
				}
	    	}
	    }
	  	
	  }
	}
}
